<div class="page-path">
	<div class="icon"></div>
	<h1 class="path">首页 > 企业合作 > 查询合作企业</h1>
</div>
<div class="content">
	<form class="form-inline" id="searchCompanyForm">
		<div class="form-group">
			<label for="searchCompanyForm_name">名称</label>
			<input type="text" class="form-control" id="searchCompanyForm_name" name="name" placeholder="">
		</div>&nbsp;&nbsp;&nbsp;&nbsp;
		<div class="form-group">
			<label for="searchCompanyForm_expire">是否过期</label>
			<select class="form-control" id="searchCompanyForm_expire" placeholder="">
				<option value=""></option>
				<option value="1">是</option>
				<option value="0">否</option>
			</select>
		</div>&nbsp;&nbsp;&nbsp;&nbsp;
		<button type="submit" class="btn btn-primary">查询</button>
	</form>

	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>

</div>

<div class="modal fade" id="editCompanyDialog" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form class="form-horizontal" id="editCompanyForm">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="dialogTitle">修改合作企业</h4>
            </div>
            <div class="modal-body dialogContent">
            
				<div class="form-group">
				    <label class="col-sm-2 control-label">*名称:</label>
				    <div class="col-sm-9" style="padding-top:6px;">
				    	<label class="" name="name"></label>
				    </div>
				</div>  
				<div class="form-group">
				    <label for="editCompanyForm_weight" class="col-sm-2 control-label">*权重:</label>
				    <div class="col-sm-9">
				    	<input type="text" class="form-control" name="weight" placeholder="">
				    </div>
				</div>				          
				<div class="form-group">
				    <label for="editCompanyForm_url" class="col-sm-2 control-label">url:</label>
				    <div class="col-sm-9">
				    	<input type="text" class="form-control" name="url" placeholder="">
				    </div>
				</div>
				<div class="form-group">
				    <label for="" class="col-sm-2 control-label">*是否过期:</label>
				    <div class="col-sm-9">
						<label class="radio-inline">
							<input type="radio" name="expire" value="1"> 是
						</label>
						<label class="radio-inline">
							<input type="radio" name="expire" value="0"> 否
						</label>
				    </div>
				</div>					
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">确定 </button>
            </div>
        </div>
    </div>
</div>
<script src="../js/company/search.js"></script>