<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.craftsmanasia.dao.PositionDao">
	
    <resultMap id="companyResult" type="Company"
		extends="com.craftsmanasia.dao.CompanyDao.companyResult">
	</resultMap>
    
    <resultMap 
		id="positionResult" 
		type="Position" >
		
		<id property="id" column="position_id" />
		
		<result property="title" column="position_title" />
		<result property="createTime" column="position_create_time" />
		<result property="updateTime" column="position_update_time" />		
		<result property="wage" column="position_wage" />
        <result property="requirement" column="position_requirement" />
        <result property="city" column="position_city" />
        <result property="weight" column="position_weight" />
        <result property="companyId" column="position_company_id" />
        <result property="isExpired" column="position_is_expired" />
        
        <association property="company"
			javaType="Company" resultMap="companyResult" />
	</resultMap>
    
    <sql id="companyColumns">
    	<include refid="com.craftsmanasia.dao.CompanyDao.companyColumns"/>
    </sql>
    
    <sql id="pagingLimit">
		<include refid="com.craftsmanasia.dao.CommonDataDao.pagingLimit"/>
	</sql>
    
    <sql id="positionColumns"> 
		position.id AS position_id,
		position.title AS position_title,
		position.create_time AS position_create_time,
		position.update_time AS position_update_time,
		position.wage AS position_wage,
		position.requirement AS position_requirement,
		position.city AS position_city,
		position.company_id AS position_company_id,
		position.weight AS position_weight,
		position.is_expired AS position_is_expired
	</sql>
	
	<insert
	    id="addPosition" 
	    useGeneratedKeys="true" 
	    keyProperty="id" 
	    parameterType="Position"> 
	    
		INSERT INTO position (
		title,
		create_time,
		update_time,
		wage,
		requirement,
		city,
		weight,
		company_id,
		is_expired
		) VALUES (
		#{title, javaType=string, jdbcType=CHAR},
		#{createTime, javaType=date, jdbcType=TIMESTAMP},
		#{updateTime, javaType=date, jdbcType=TIMESTAMP},
		#{wage, javaType=string, jdbcType=CHAR},
		#{requirement, javaType=string, jdbcType=CHAR},
		#{city, javaType=string, jdbcType=CHAR},
		#{weight, javaType=int, jdbcType=INTEGER},
		#{companyId, javaType=int, jdbcType=INTEGER},
		#{isExpired, javaType=int, jdbcType=INTEGER}
		)
	</insert>
	
	<update id="updatePosition" parameterType="Position">

		UPDATE
			position
		<set>
			<if test="title != null">
				title = #{title, javaType=string, jdbcType=CHAR},
            </if>
			<if test="wage != null">
				wage = #{wage, javaType=string, jdbcType=CHAR},
            </if>
			<if test="weight != null and weight > 0">
				weight = #{weight, javaType=int, jdbcType=INTEGER},
            </if>
            <if test="requirement != null">
				requirement = #{requirement, javaType=string, jdbcType=CHAR},
            </if>
			<if test="updateTime != null">
				update_time = #{updateTime, javaType=date, jdbcType=TIMESTAMP},
            </if>
            <if test="city != null">
				city = #{city, javaType=string, jdbcType=CHAR},
            </if>
            <if test="isExpired != null">
				is_expired = #{isExpired, javaType=int, jdbcType=INTEGER},
            </if>
		</set>
		WHERE
			id = #{id, javaType=int, jdbcType=INTEGER}
	</update>
	
	<select 
		id="getPositionById"
		resultMap="positionResult" >
            
		SELECT
			<include refid="companyColumns"/>,
			<include refid="positionColumns"/>
		FROM
			position
			INNER JOIN company ON company.id = position.company_id
		WHERE
			position.id = #{id, javaType=int, jdbcType=INTEGER}
			AND position.is_expired = 0
		ORDER BY
			position.weight ASC,
			position.title ASC
	</select>
	
	<select 
		id="getPositionsByCompanyId"
		parameterType="map" 
		resultMap="positionResult" >
            
		SELECT
			<include refid="positionColumns"/>,
			<include refid="companyColumns"/>
		FROM
			position
			INNER JOIN company ON company.id = position.company_id
		WHERE
			company.id = #{id, javaType=int, jdbcType=INTEGER}
			AND company.is_expired = 0
			AND position.is_expired = 0
		ORDER BY
			position.weight ASC,
			company.weight ASC	
	</select>
	
	<select 
		id="getPositionsByCompanyIdAndTitle"
		resultMap="positionResult" >
            
		SELECT
			<include refid="companyColumns"/>,
			<include refid="positionColumns"/>
		FROM
			position
			INNER JOIN company ON company.id = position.company_id
		WHERE
			position.title = #{title, javaType=string, jdbcType=CHAR}
			AND company.id = #{id, javaType=int, jdbcType=INTEGER}
			AND position.is_expired = 0
	</select>
	
	<select 
		id="getPositionsByCompanyNameAndTitle"
		parameterType="map" 
		resultMap="positionResult" >
            
		SELECT
			<include refid="companyColumns"/>,
			<include refid="positionColumns"/>
		FROM
			position
			INNER JOIN company ON company.id = position.company_id
		WHERE
		<if test="tile != null">
			position.tile = #{tile, javaType=string, jdbcType=CHAR}
		</if>
		<if test="name != null">
			AND company.id = #{id, javaType=int, jdbcType=INTEGER}
		</if>
		ORDER BY
			company.weight ASC,
			position.weight ASC,
			company.name ASC,
			position.title ASC	
	</select>
	
	<sql id="positionFilter">
		<if test="filter.title != null">
			position.title like #{filter.title, javaType=string, jdbcType=CHAR}
		</if>
		<if test="filter.isExpired != null">
			AND position.is_expired = #{filter.isExpired, javaType=int, jdbcType=INTEGER}
		</if>
		<if test="filter.companyId != null">
			AND position.company_id = #{filter.companyId, javaType=int, jdbcType=INTEGER}
		</if>
		<if test="filter.city != null">
			AND position.city = #{filter.city, javaType=string, jdbcType=CHAR}
		</if>
		<if test="filter.companyName != null">
			AND company.name like #{filter.companyName, javaType=string, jdbcType=CHAR}
		</if>
	</sql>
	
	<select 
		id="selectPositionsByFilter"
		parameterType="map" 
		resultMap="positionResult"	>
	SELECT
		<include refid="companyColumns"/>,
		<include refid="positionColumns"/>
	FROM
		position
		INNER JOIN company ON company.id = position.company_id
		<where>
			<include refid="positionFilter"/>
		</where>
		ORDER BY 
	  		<choose>
	  			<when test="filter.ordered == true">
	  				${filter.orderBy}
	  			</when>
	  			<otherwise>
	  				company.weight ASC,
	  				position.weight ASC,
					position.title ASC
	  			</otherwise>
	  		</choose>
		<include refid="pagingLimit" />
	</select>
	
	<select 
		id="countPositionsByFilter"
		parameterType="map"
		resultType="int">
	SELECT
		count(*)
	FROM
		position
		INNER JOIN company ON company.id = position.company_id
		<where>
			<include refid="positionFilter"/>
		</where>
	</select>
	
</mapper>