<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.craftsmanasia.dao.ResumeUserDao">
	
	<resultMap type="User" id="userResult"
		extends="com.craftsmanasia.dao.UserDao.userResult">
	</resultMap>
	
	<resultMap type="ResumeUser" id="resumeUserResult">
		<id property="id" column="resume_user_id"/>
		
		<result property="name" column="resume_user_name"/>
		<result property="telephone" column="resume_user_telephone"/>
		<result property="gender" column="resume_user_gender"/>
		<result property="birthday" column="resume_user_birthday"/>
		<result property="email" column="resume_user_email"/>
		<result property="home" column="resume_user_home"/>
		<result property="userId" column="resume_user_user_id"/>
		
		<association property="user" 
			javaType="User" resultMap="userResult">
		</association>
	</resultMap>
	
	<sql id="FIELDS">
		telephone,name,gender,birthday,email,home,user_id
	</sql>
	
	<sql id="userColumns">
		<include refid="com.craftsmanasia.dao.UserDao.userColumns"/>
	</sql>
	
	<sql id="resumeUserColomns">
		ru.id AS resume_user_id,
		ru.name AS resume_user_name,
		ru.telephone AS resume_user_telephone,
		ru.gender AS resume_user_gender,
		ru.birthday AS resume_user_birthday,
		ru.email AS resume_user_email,
		ru.home AS resume_user_home,
		ru.user_id AS resume_user_user_id
	</sql>
	
	<insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="ResumeUser"> 
		insert into resume_user(<include refid="FIELDS"/>) values(#{telephone},#{name},#{gender},#{birthday},#{email},#{home},#{userId})
	</insert>
	
	
	<select id="count1" resultType="int">
		select count(*) from resume_user
	</select>
	
	<update id="updateResumeUser" parameterType="ResumeUser">
		UPDATE
			resume_user
		<set>
			<if test="name != null">
				name = #{name, javaType=string, jdbcType=CHAR},
			</if>
			<if test="telephone != null">
				telephone = #{telephone, javaType=string, jdbcType=CHAR},
			</if>
			<if test="gender != null">
				gender = #{gender, javaType=string, jdbcType=CHAR},
			</if>
			<if test="birthday != null">
				birthday = #{birthday, javaType=string, jdbcType=CHAR},
			</if>
			<if test="email != null">
				email = #{email, javaType=string, jdbcType=CHAR},
			</if>
			<if test="home != null">
				home = #{home, javaType=string, jdbcType=CHAR},
			</if>
		</set>
		WHERE
			id = #{id, javaType=int, jdbcType=INTEGER}
	</update>
	
	<select id="selectResumeUserByUserId"
	 resultMap="resumeUserResult">
		SELECT
			<include refid="resumeUserColomns"/>
		FROM
			resume_user ru
		WHERE
			ru.user_id = #{userId, javaType=int, jdbcType=INTEGER}
	</select>
	
</mapper>