<div class="page-path">
	<div class="icon"></div>
	<h1 class="path">首页 > 查询简历</h1>
</div>
<div class="content">
	<form class="form-inline" id="searchResumeForm">
		<div class="form-group">
			<label for="searchResumeForm_name">姓名:</label>
			<input type="text" class="form-control" id="searchResumeForm_name" name="name" placeholder="">
		</div>
		<div class="form-group">
			<label for="searchResumeForm_companyName">公司:</label>
			<input type="text" class="form-control" id="searchResumeForm_companyName" name="companyName" placeholder="">
		</div>
		<div class="form-group">
			<label for="searchResumeForm_companyName">职位名称:</label>
			<input type="text" class="form-control" id="searchResumeForm_positionName" name="positionName" placeholder="">
		</div>
		<div class="form-group">
			<label for="searchResumeForm_status">状态:</label>
			<input type="text" class="form-control" id="searchResumeForm_status" name="status" placeholder="">
		</div>
		<div class="form-group">
			<label for="searchResumeForm_wechatAccount">微信号:</label>
			<input type="text" class="form-control" id="searchResumeForm_wechatAccount" name="wechatAccount" placeholder="">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">查询</button>
		</div>
	</form>
	
	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>
</div>

<script src="../js/resume/search.js"></script>